.list {
  display: flex;
  gap: 20px;
  overflow: auto;
  cursor: pointer;

  &__music {
  }
  &__img {
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
