.header {
  &__container {
    grid-area: header;
    padding: 27px 12px 12px 12px !important;
  }
  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__button {
    padding: 10px 15px;
    text-decoration: none;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    img {
      margin-right: 10px;
    }
  }

  &__list {
    li {
      padding: 10px 15px;
    }
    li:not(:last-child) {
      margin-bottom: 12px;
    }
    li img {
      margin-right: 10px;
    }
  }
}
