.app {
  height: calc(100% - 20px);
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(300px, 25%) minmax(300px, 75%);
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    'header main'
    'side main';
}
